.layered-animations {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layered-animations .shape {
  position: absolute;
  top: 50%;
  overflow: visible;
  width: 7em;
  height: 7em;
  margin-top: 3em;
  stroke: transparent;
  stroke-width: 7px;
  fill: url(#shapesGradient);
}

@media (min-width: 740px) {
  .layered-animations .shape {
    stroke-width: .5px;
  }
}

.layered-animations .small.shape {
  width: 64px;
  height: 64px;
  margin-top: -64px;
  stroke: currentColor;
  fill: currentColor;
}

.layered-animations .x-small.shape {
  width: 32px;
  height: 32px;
  margin-top: -32px;
  stroke: currentColor;
  fill: currentColor;
}