.sphere-animation {
  animation: sphere-spin infinite 7s linear;
  position: absolute;
  top: 40%;
  right: 10%;
  width: 30em;
  height: 30em;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 2em;
  stroke: rgba(81,81,81,.95);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
}

@keyframes sphere-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}